.forgot-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
  }
  
  .for1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    margin-left: 30px;
  }
  
  .for1 h1 {
    text-align: center;
    font-size: 24px;
  }
  
  .for2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
  
  }
  
  .for2 img {
    width: 100%;
    max-height: 400px;
  }
  
  .light {
    margin-top: 10px;
    color: white !important;
    text-align: left;
  }
  
  .error-message {
    color: crimson;
    margin: 5px 0;
  }
  
  button[type='submit'] {
    margin-top: 10px;
  }
  
  
  body {
    background-color: lightskyblue;
  }
  
  .train {
    width: 100%;
    height: 500px;
  }