.Password-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
  
  .clock1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 650px;
    height: 500px;
    padding-top: 100px;
    padding-left: 120px;
    background-color: black;
    margin-top: 10px;
  }
  
  .clock1 h1 {
    text-align: center;
    font-size: 32px;
  }
  
  .clock2 {
    display: flex;
    padding: 10px;
    width: 650px;
    height: 500px;
    padding-top: 100px;
    background-color: black;
    margin-top: 10px;
  }
  
  .clock2 img {
    width: 100%;
    height: 80%;
    max-height: 600px;
  }
  
  .add {
    color: black !important;
    text-align: left;
  }
  
  .error-message {
    color: crimson;
    margin: 5px 0;
  }
  
  button[type="submit"] {
    margin-top: 10px;
  }
  
  .ride {
    color: white;
  }
  
  #stood {
    width: 150px;
  }
  
  .dot {
    width: 100%;
    height: 600px;
  
  }