.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://www.thetreegroup.co.uk/hubfs/crm-customer-relationship-management-business-internet-techology-concept-137888377.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #555;
}

.input-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-control:focus {
  outline: none;
  border: 1px solid #007bff;
}

.error-message {
  color: crimson;
}

#lite {
  background-color: #007bff;
  color: #fff;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#lite:hover {
  background-color: #0056b3;
}